[core]
    editor = nvim
    excludesfile = ~/.gitignore
[grep]
    lineNumber = true
[color "blame"]
    highlightRecent = blue,12 month ago,yellow,1 month ago,red
    colorLines = cyan
    repeatedLines = cyan
[blame]
    coloring = repeatedLines
[pull]
	ff = only
[user]
	name = Daniel Bershatsky
[init]
	defaultBranch = main
